/* body {
  background-color: rgb(242, 246, 247);
} */

.card-div {
  max-width: 960px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  box-shadow: -9px 0px 36px -5px rgba(0,0,0,0.75);
  color: #1b1d3a;
  font-size: 17px;
}

.card {
  display: grid;
  height: 620px;
  grid-template-columns: repeat(5, 1fr);
}

h1 {
  text-align: center;
  color: #000000;
}